.venv/
__pycache__/
*.pyc
*.pyo
*.swp
*.swo
*.swn

.dvc/
.dvcignore
dvc.lock
dvc.yaml

catboost_info/
runs/*
!runs/train1/
runs/train1/*
!runs/train1/best_catboost_model.cbm

*.ipynb

tests/

.git/
.gitignore
.dockerignore
